.gallery {

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin-top: 24px;
    width: 1152px;



}

.gallery-image {
    width: 360px;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.gallery-image:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.sl-overlay {
    background-color: rgba(46, 47, 66, 0.8) !important;
}